.box {
  text-align: center;
  border: 3px solid rgb(211, 210, 210);
  padding: 30px;
  width: 500px;
  margin: 50px auto;
}
h1 {
  padding: 20px 0;
  font-size: 2rem;
}
#counter {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 0;
}
button {
  width: 100px;
  font-size: 2rem;
  margin: 10px;
  padding: 15px 5px;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 10px;
  color: #fff;
}
#increase {
  background-color: orange;
  &:disabled {
    background-color: rgb(211, 210, 210);
    cursor: not-allowed;
  }
}
#reset {
  background-color: red;
}
